$navbar-height: 80px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.App {
    background-color: #282c34;
    display: flex;
    font-size: 2vmin;
    color: white;
}

.container {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    flex-direction: column;
    margin: 20px;
    margin-top: 0;
    max-width: 1440px;

    padding-top: $navbar-height;
}

a {
    text-decoration: none;
    color: #61dafb;

    border: 1px solid #61dafb;
    padding: 10px;

    display: inline-block;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #61dafb;
        color: #0f1114;
    }
}

a.active {
    background-color: #61dafb;
    color: #0f1114;

    &:hover {
        background-color: #0f1114;
        color: #61dafb;
    }
}

.link_container {
    display: flex;
}

.link_container > a {
    margin: 10px;
    margin-left: 0;
}

h1 {
    font-size: 3em;
    color: #61dafb;
    background-color: #0f1114;

    padding: 10px;
}

h2 {
    font-size: 2em;
    color: #61dafb;
    background-color: #0f1114;

    padding: 10px;
}

h3 {
    font-size: 1.5em;
    color: #61dafb;
    background-color: #0f1114;

    padding: 10px;
}

h4 {
    font-size: 1.25em;
    color: #61dafb;
    background-color: #0f1114;

    padding: 10px;
}

p {
    margin: 0;
    padding: 10px;
}

.hightlight {
    border: 1px solid #61dafb;
    color: #61dafb;
    display: inline-block;
    font-weight: 700;
    margin: 10px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

span {
    color: #61dafb;
}

.code-block-container {
    width: 80vw;
}

// .code-block {
//     width: 100%;
//     height: 100%;
// }

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: $navbar-height;
    background-color: #0f1114;
    z-index: 100;
    transition: top 0.3s;

    padding-left: 20px;

    display: flex;
    align-items: center;
}

.navbar--hidden {
    top: -$navbar-height;
}

// @media screen and (max-width: 768px) {
//     .navbar {
//         display: none;
//     }
// }

// 逗號
.parent_1,
.sibling_1 {
    color: red;
}

// 空格
.parent_2 .child_2 {
    color: red;
}

// &
.parent_3 {
    color: red;
    & .child_3 {
        color: blue;
    }

    &:hover {
        color: green;
    }

    :hover {
        color: white;
    }
}

// 大於 >
.parent_4 > .child_4 {
    color: red;
}

// + 相鄰
.parent_5 + .sibling_5 {
    color: red;
}

// ~ 一般兄弟
.parent_6 ~ .sibling_6 {
    color: red;
}

.style {
    [type="text"] {
        color: red;
    }
}

.child {
    p[class*="text"] {
        color: red;
    }
}

.start {
    p[class^="text"] {
        color: orange;
    }
}

.end {
    p[class$="text"] {
        color: blue;
    }
}

// .value {
//     [type="text" i] {
//         color: red;
//     }
// }

//////////////////////// hover 頁面
.parent_hover {
    color: red;

    // // .parent_hover .child的顏色會變成blue
    // & .child {
    //     color: blue;
    // }

    // //當.parent_hover:hover時，parent_hover下面的所有元素的顏色會變成green
    // &:hover {
    //     color: green;
    // }

    // //當.parent_hover 下面的元素:hover時 他們自己的顏色會變成white
    // :hover {
    //     color: white;
    // }

    // // 是當.parent_hover:hover時，.child的顏色會變成yellow
    // &:hover .child {
    //     color: yellow;
    // }

    // //當.parent_hover:hover時，.child也要hover才會變成orange
    // &:hover .child:hover {
    //     color: orange;
    // }

    // //當.parent_hover:hover時，.child也要hover 會影響的是grandson 他會變成purple
    // &:hover .child:hover .grandson {
    //     color: purple;
    // }

    // //當parent_hover的子元素有hover的時候 其子元素底下的.grandson會變成pink
    // :hover .grandson {
    //     color: pink;
    // }
}

$color: green;

body.#{$color} {
    @if $color == green {
        background-color: $color;
    } @else {
        background-color: red;
    }
}
